body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto, Tahoma, sans-serif;
}

.header, .intro, .footer {
    color: #f9faf8;
    background-color: #1F2937;
    display: flex;
}

.intro, .random-info, .quote, .container {
    padding: 120px 170px;
}

.header {
    align-self: stretch;
    justify-content: space-around;
    align-items: center;
    
}

a:link {text-decoration: none;}

.links {
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 24px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

h2 {
    margin: 0px;
}

.intro {
    align-self: stretch ;
    align-items: center;
    justify-content: center;
}

.intro-text {
    padding-right: 40px;
    flex: 0 1 auto;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    font-size: large;
    font-weight: bolder;
    padding: 8px 25px;
    border-radius: 10px;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 66%, 0.5);
    width: 900px;
    height: 200px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 0px 50px 50px 50px; 
}

.ran-imgs {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.ran-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 1 0;
    color: hsla(0, 0%, 0%, 0.7);
    gap: 8px;
}

.img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspire {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.thor {
    display: flex;
    font-size: 25px;
    margin: 0px 0px 0px 580px;
}

.sign-up {
    color: #f9faf8;
    background-color: #3882f6;
    display: flex;
    padding: 45px 120px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    border-radius: 10px;
}

.call-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}

h3, .product {
    margin: 0px;
}

.lower {
    border: 3px solid white;
}

.footer {
    align-self: stretch;
    align-items: center;
    justify-content: center;
    padding: 35px;
}